## md planning (exclude from root, but allow in docs/)
/Agent.md
/Adapter.md
/Adapter_config.md
/Adapter_plan.md
/plan.md

## logs
logs


## output
*_output


## python cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ipynb_checkpoints
